@model IEnumerable<APS.Application.ViewModel.Agendamentos.CadastroViewModel>
@{
    ViewBag.Title = "Calendário";
}
@section Css{
    <link href="@Url.Content("~/Content/css/pages/calendario.css")" rel="stylesheet">
}
<section class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</section>
<section class="row">
    <div class="col-lg-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Calendário
            </div>
            <div class="panel-body">
                <div id="calendario">

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/js/calendario.js")"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        calendario = new Calendario({
            id: "calendario",
            data: new Date(),
            urls: {
                buscarPorDataMes: "@Url.Action("BuscarPorDataMes", "Calendario")",
                atualizarAgendamento: "@Url.Action("Atualizar", "Agendamentos")"
            },
            lisatAgendamento: @Html.Raw(Json.Encode(Model)) || new Array()
        });

        $('table.calendario-io td div.container-td div.agendamentos').tooltip({ html: true });
    });
    </script>
}