<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACF - @ViewBag.Title</title>

    <link href="@Url.Content("~/Content/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/estilo.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @RenderSection("Css", false)
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        
        @Html.Partial("~/Views/Shared/Layout/_Navbar.cshtml")

        <main id="page-wrapper">            
            @RenderBody()
        </main>
    </div>
    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/metisMenu/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/Content/js/app.js")"></script>
    @RenderSection("Scripts", false)
</body>

</html>
