@model APS.Application.ViewModel.Clientes.CadastroViewModel
@{
    ViewBag.Title = "Cadastrar Cliente";
}
<section class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</section>
<section class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(Model.Id > 0 ? "Atualizar" : "Cadastrar", "Clientes", FormMethod.Post, new { id = "form" }))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nome</label>
                                @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Endereço</label>
                                @Html.TextAreaFor(x => x.Endereco, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control", data_mask = "(99) 9999-99999" })
                            </div>
                            <div class="form-group">
                                <label>Situação</label>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(x => x.Ativo) Ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline btn-success">Salvar</button>
                            @if (Model.Id > 0)
                            {
                                <button data-id="@Model.Id" type="button" class="btn btn-outline btn-danger btn-excluir">Excluir</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        $("#form").validate({
            rules: {
                Nome: {
                    required: true
                },
                Endereco: {
                    required: true
                },
                Descricao: {
                    required: true
                },
                Telefone: {
                    required: true
                }
            }
        });

        $(document).ready(function () {
            $(".btn-excluir").on('click', function (e) {
                e.preventDefault();
                App.excluir({
                    id: $(this).data('id'),
                    url: "@Url.Action("Excluir")",
                    botao: $(this)
                });
            });
        });
    </script>
}